<div>
  <h1>About Employees</h1>
  <h4 *ngFor="let e of employees; let i = index">{{i+1}}. {{e.name}} is from {{e.location}}<br/> </h4>
  <h1>Table</h1><br/>
  <table>
    <thead>
      <th>Id</th>&nbsp;&nbsp;
      <th>Name </th>&nbsp;&nbsp;
      <th>salary</th>&nbsp;&nbsp;
      <th>location</th>&nbsp;&nbsp;
    </thead>
    <tbody>
      <tr *ngFor="let element of employees; trackby: element?.id"  >
        <td>{{element.id}}</td> &nbsp;
        <td>{{element.name}}</td> &nbsp;
        <td>{{element.salary}}</td> &nbsp;
        <td>{{element.location}}</td> &nbsp;
      </tr>
    </tbody>
  </table>
</div>